Tech News Research se.json
{
  "name": "Tech News Research",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        -160
      ],
      "id": "4db77c00-8fa0-4210-9f82-dab50ecfe21d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -320,
        128
      ],
      "id": "c65ed02f-3dd5-401f-917c-ea3c42d72f10",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -496,
        208
      ],
      "id": "e6da5f97-da45-48ae-a92f-2e63e077ecf6",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -496,
        48
      ],
      "id": "4b5c20ac-f52f-46fc-aeef-7efb0460dc90",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        -128
      ],
      "id": "2bbb3a4e-af6b-424b-b834-b9739531306f",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -32,
        -112
      ],
      "id": "7458e7e2-8cb4-4068-a0cc-434f1e7b3935",
      "name": "Limit"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "You are a tech news analyst. Given an article title and description, \ncategorize it (AI, Security, Startups, Cloud, Mobile) and write a \n2-sentence summary."
            },
            {
              "content": "=Title: {{ $json.title }}\nDescription: {{ $json.contentSnippet }}\n\nReturn format:\nCategory: [category]\nSummary: [2 sentence summary]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -96,
        96
      ],
      "id": "581c2650-b958-4273-a075-a0fa59f9ebf8",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const articles = items.map(item => {\n  const title = item.json.title || \"No Title\";\n  const content = item.json.message && item.json.message.content ? item.json.message.content : \"No Content\";\n  return `📌 ${title}\\n${content}\\n---`;\n});\n\nconst report = `\n🤖 DAILY TECH NEWS REPORT\n📅 ${new Date().toDateString()}\n${'='.repeat(40)}\n\n${articles.join('\\n\\n')}\n`;\n\nreturn [{ json: { report } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -112
      ],
      "id": "9d8ced53-5677-4b5f-91fd-542da27a6a62",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.report }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        416,
        -112
      ],
      "id": "YOUR_DISCORD_WEBHOOK_CREDENTIAL_ID",
      "name": "Discord",
      "webhookId": "YOUR_DISCORD_WEBHOOK_ID",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_DISCORD_WEBHOOK_CREDENTIAL_ID",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ae37d6d1-f7f4-4e50-9cea-43cb408867a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "Bxp4276IPv91VqoF",
  "tags": []
}